<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/javascript/navmenu.js"></script>
    <script src="/javascript/dashnav.js"></script>
    <script src="/javascript/updates.js"></script>
    <title> unbot dashboard</title>
</head>
