<div class="grid grid-cols-2 gap-4 p-4">
    <a href="#" class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group">
    <div class="text-sm font-medium text-gray-900 dark:text-white">Sales</div>
</a>
<a href="#" class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group">
    <div class="text-sm font-medium text-gray-900 dark:text-white">Users</div>
</a>
<a href="#" class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group">
    <div class="text-sm font-medium text-gray-900 dark:text-white">Inbox</div>
</a>
<a href="#" class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group">
    <div class="text-sm font-medium text-gray-900 dark:text-white">Profile</div>
</a>
</div>
</div>