<footer class="bg-gradient-to-b from-black to-indigo-900 text-white py-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col md:flex-row justify-between items-center">
      <div class="flex items-center">
        <span class="text-2xl font-bold">Unbot</span>
      </div>
      <div class="mt-4 md:mt-0">
        <p>© 2024 Unbot. Licensed under GPL.</p>
      </div>
      
      <div class="mt-4 md:mt-0 flex space-x-4">
        <a href="#link1" class="hover:text-indigo-300 transition duration-300">Link 1</a>
        <a href="#link2" class="hover:text-indigo-300 transition duration-300">Link 2</a>
      </div>
      <div id="statusPing" class="mt-4 md:mt-0 flex items-center space-x-2">
        <span class="text-sm text-gray-400">Status:</span>
        <div class="h-3 w-3 rounded-full bg-green-500 animate-pulse"></div>
      </div>
    </div>
  </footer>

  <script>
    $(document).ready(function() {
        function checkStatus() {
            $.ajax({
                url: '/new/status', 
                type: 'GET',
                success: function(data) {
                    if(data.status === 'ok') {
                        $('#statusPing div').removeClass('bg-red-500').addClass('bg-green-500');
                    } else {
                        $('#statusPing div').removeClass('bg-green-500').addClass('bg-red-500');
                    }
                },
                error: function() {
                    $('#statusPing div').removeClass('bg-green-500').addClass('bg-red-500');
                }
            });
        }
        checkStatus();
        setInterval(checkStatus, 300000); // 300,000 milliseconds = 5 minutes
    });
    </script>
    