<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/javascript/navmenu.js"></script>
    <title> Unbot Bot</title>

    <style>
    @font-face {
    font-family: 'CalSans-SemiBold';
    src: url('/fonts/CalSans_Semibold_v1/fonts/webfonts/CalSans-SemiBold.ttf') format('truetype');
    font-weight: 600; /* Semi-bold */
    font-style: normal;
    }

     body {
            font-family: 'CalSans-SemiBold', sans-serif;
        }

    </style>
</head>
