<section id="hero" class="hero bg-cover bg-center h-screen flex flex-col justify-start items-center relative overflow-hidden" style="background-image: url('/images/test1.png');">

    <nav class="pt-8 px-5 z-10 w-full">
      <ul class="flex justify-center space-x-4 lg:space-x-6">
        <li><a href="/api/login/discord" class="text-white hover:text-purple-300 transition duration-300 ease-in-out font-bold">Login</a></li>
        <li><a href="#commands" class="text-white hover:text-purple-300 transition duration-300 ease-in-out font-bold">Commands</a></li>
        <li class="relative group">
            <a href="#more" id="dropdownMore" class="text-white hover:text-purple-300 transition duration-300 ease-in-out font-bold cursor-pointer">More</a>
            <!-- Dropdown  -->
            <div class="dropdown-content absolute hidden flex flex-col bg-white text-gray-900 mt-2 rounded-lg shadow-2xl z-50 w-72" id="dropdownContent" style="margin-left: -12rem;">
                <div class="grid grid-cols-3 gap-2 p-2">
                    <a href="#privacy" class="flex flex-col items-center justify-center p-2 hover:bg-gray-100 rounded text-lg">
                        <img src="/icons/hero/lock-closed.svg" alt="" class="mb-2 h-6 w-6"> Privacy
                    </a>
                    <a href="#tos" class="flex flex-col items-center justify-center p-2 hover:bg-gray-100 rounded text-lg">
                        <img src="/icons/hero/scale.svg" alt="" class="mb-2 h-6 w-6"> TOS
                    </a>
                    <a href="#status" class="flex flex-col items-center justify-center p-2 hover:bg-gray-100 rounded text-lg">
                        <img src="/icons/hero/status.svg" alt="" class="mb-2 h-6 w-6"> Status
                    </a>
                    <a href="https://app.gitbook.com/o/0Yc9xrdmwFPPjEZej2yZ/s/ZRjFf4uL4dYdpEEuth16/group-1/page-1" class="flex flex-col items-center justify-center p-2 hover:bg-gray-100 rounded text-lg">
                        <img src="/icons/hero/globe.svg" alt="" class="mb-2 h-6 w-6"> Docs
                    </a>
                    <a href="#extra2" class="flex flex-col items-center justify-center p-2 hover:bg-gray-100 rounded text-lg">
                        <img src="/icons/hero/user-group.svg" alt="" class="mb-2 h-6 w-6"> Support
                    </a>
                </div>
                <div class="bg-gray-100 p-2 rounded-b-lg text-center text-gray-500 text-sm">
                    <img src="/icons/version.svg" alt="" class="inline-block mb-1 h-6 w-6"> Version 1.0.0
                </div>
            </div>
        </li>
    </nav>

<div class="mt-4 flex justify-center mt-8">
    <div class="flex items-center py-2 px-4 bg-purple-600 text-white font-bold rounded-full">
        <img src="/icons/hero/planet.svg" alt="Rocket" class="h-6 w-6">
        <span id="badgeText">Open Source</span>
    </div>
</div>
    

    <div class="flex justify-center items-center h-full w-full mb-8">
        <div class="flex flex-col items-center justify-center text-center">
            <h1 class="text-5xl text-white font-bold mb-4 animate-pulse">Unbot</h1>
            <p class="text-2xl text-gray-300 mb-8 ">UnInbox Discord Bot - Open Source</p>
            <a href="#" class="bg-purple-600 hover:bg-purple-800 text-white font-bold py-3 px-6 rounded-full transition duration-300 ease-in-out ">Join the Adventure</a>
            <!-- Social Media Icons: Now below the Unbot section, displayed horizontally -->
            <div class="flex flex-row items-center space-x-4 bg-purple-600 p-4 rounded-lg mt-8">
                <a href="https://facebook.com" class="transition duration-300 ease-in-out transform hover:scale-110">
                    <img src="/icons/mobliemenu/github.svg" alt="GitHub" class="h-6 w-6">
                </a>
                <a href="https://twitter.com" class="transition duration-300 ease-in-out transform hover:scale-110">
                    <img src="/icons/mobliemenu/discord.svg" alt="Discord" class="h-6 w-6">
                </a>
                <a href="https://instagram.com" class="transition duration-300 ease-in-out transform hover:scale-110">
                    <img src="/icons/mobliemenu/x.svg" alt="X" class="h-6 w-6">
                </a>
            </div>
            <!-- Feature -->
            <div class="flex flex-col items-center justify-center text-center mt-8">
                <div id="features-slider" class="features-slider grid grid-cols-1 sm:grid-cols-3 gap-4">
                    <div class="flex flex-col items-center feature-slide">
                        <img src="/icons/hero/karma.svg" alt="Karma System" class="h-12 w-12">
                        <h3 class="text-xl text-white mt-2">Karma System</h3>
                        <p class="text-sm text-gray-300">Reward engagement with a karma system. Dashboard coming soon!</p>
                    </div>
                    <div class="flex flex-col items-center feature-slide">
                        <img src="/icons/hero/mod.svg" alt="Moderation Tools" class="h-12 w-12">
                        <h3 class="text-xl text-white mt-2">AI Moderation</h3>
                        <p class="text-sm text-gray-300">Upgrade moderation with AI, keeping servers safe and clean.</p>
                    </div>
                    <div class="flex flex-col items-center feature-slide">
                        <img src="/icons/hero/chatbot.svg" alt="Chatbot" class="h-12 w-12">
                        <h3 class="text-xl text-white mt-2">Personalized Chatbot</h3>
                        <p class="text-sm text-gray-300">Engage with a custom chatbot. Easy setup with a YAML file.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</section>

<style>@media (max-width: 640px) {
    .features-slider {
      overflow: hidden;
      display: flex;
      flex-wrap: nowrap;
    }
    .feature-slide {
      flex: 0 0 100%;
      scroll-snap-align: start;
    }
  }
  
  </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
  let slideIndex = 0; 
  const numSlides = $(".feature-slide").length; 
  const slideChangeInterval = 3000;
  let slideInterval;

  function moveToNextSlide() {
    slideIndex = (slideIndex + 1) % numSlides; 
    const slideWidth = $("#features-slider").width(); 
    const newScrollPosition = slideWidth * slideIndex; 

    $("#features-slider").animate({
      scrollLeft: newScrollPosition
    }, 800, 'swing'); 
  }

  function startSlideshow() {
    slideInterval = setInterval(moveToNextSlide, slideChangeInterval);
  }

  function pauseSlideshow() {
    clearInterval(slideInterval);
  }

  $("#features-slider").hover(pauseSlideshow, startSlideshow);

  if ($(window).width() < 640) {
    startSlideshow(); 
  }

});
</script>


<script>
    $(document).ready(function(){
        var texts = ["Open Source", "Driven by OpenAI", "Accelerated by Bun"];
        var count = 0;
        setInterval(function() {
            $("#badgeText").text(texts[count]);
            count++;
            if (count >= texts.length) count = 0;
        }, 3000); // Change text every 3 seconds
    });
    </script>
    
